@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, Arial;
}

.header {
    width: 100%;
    background-color: bisque;
    padding: 15px 80px 15px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
}

li a{
    color: black;
    margin-left: 60px;
    transition: color 0.15s, border-bottom 0.15s;
}

li a:hover{
    color: rgb(98, 98, 98);
    border-bottom: 3px solid rgb(98, 98, 98);
}

.navbar {
    display: flex;
    font-size: 40px;
    font-weight: 600;
    
}

.logo {
    width: 50px;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoimg {
    width:80px;
    height: 80px;
    object-fit: cover;
}

.logoname {
    color: black;
    padding-left: 10px;
}

.tableplan {
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
}

td, th {
    border: 1px solid rgb(0,0,0);
    text-align: center;
    padding: 12px;
    width: 50%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}