<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-wdith">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <title> I ATE </title>
        <link href="{{url_for('static', filename='css/translate.css')}}" rel="stylesheet">


    </head>
    <body>
        <nav>
            <div class="header">
                <div class="logo">
                    <img src="static/Diagrams/i-ate-logo.png" class="logoimg">
                    <a class="logoname" href="/" >Meals</a>
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="/mealplan">Meal Planning</a></li>
                        <li><a href="/chatbot">ChatBot</a></li>
                        <li><a href="/translate">Translate</a></li>
                        <li><a href="db">Database</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>

        <div class="listen">
            <!-- listenai in here -->
        </div>

    </body>
</html>