* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: bisque;
    padding: 15px 80px 15px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
}

li a{
    color: black;
    margin-left: 60px;
    transition: color 0.15s, border-bottom 0.15s;
}
