<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-wdith">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <title> I ATE </title>
        <link href="{{url_for('static', filename='css/chatbot.css')}}" rel="stylesheet">


    </head>
    <body>
        <nav>
            <div class="header">
                <div class="logo">
                    <img src="static/Diagrams/i-ate-logo.png" class="logoimg">
                    <a class="logoname" href="/">Food Friend</a>
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="/mealplan">Meal Planning</a></li>
                        <li><a href="/chatbot">ChatBot</a></li>
                        <li><a href="/translate">Translate</a></li>
                        <li><a href="db">Database</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>

        <div class="chatbotdiv">
            <div class="chatbottext">
                <!-- return the robot answers and save-->
                <form action="/text-input" method="post" enctype="multipart/form-data">
                    <div class="chatbox">
                        <input  name="text" type="text" id="texti" class="chatbottext-input" accept="text" placeholder="Chat here!">
                        <button class="chatbottext-submit" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>